input[type=submit],
input[type=reset],
input[type=button],
button,
.button {
  background-color: $button-background-color;
  border-radius: $button-border-radius;
  color: $button-color;
  padding: $button-padding;
  display: inline-block;
  font-weight: 400;
  text-align: center;
  white-space: nowrap;
  vertical-align: middle;
  user-select: none;
  border: $button-border;
  font-size: $button-font-size;
  line-height: 1.5;
  transition: $button-transition;
  text-decoration: none;
}

input[type=submit]::-moz-focus-inner,
input[type=reset]::-moz-focus-inner,
input[type=button]::-moz-focus-inner,
button::-moz-focus-inner {
  padding: 0;
}

input[type=submit]:hover,
input[type=reset]:hover,
input[type=button]:hover,
button:hover,
.button:hover {
  background-color: $button-hover-background-color;
}

input[type=submit]:not(:disabled):active,
input[type=reset]:not(:disabled):active,
input[type=button]:not(:disabled):active,
button:not(:disabled):active,
.button:active {
  background-color: $button-active-background-color;
}

input[type=submit]:focus,
input[type=reset]:focus,
input[type=button]:focus,
button:focus,
.button:focus {
  outline: $button-focus-outline;
  box-shadow: $button-focus-shadow;
}

input[type=submit]:disabled,
input[type=reset]:disabled,
input[type=button]:disabled,
button:disabled,
.button.disabled {
  opacity: 0.65;
  cursor: not-allowed;
  background-color: $button-disabled-background-color;
}
