input:not([type]),
input[type="text"],
input[type="password"],
input[type="email"],
input[type="url"],
input[type="date"],
input[type="month"],
input[type="time"],
input[type="datetime"],
input[type="datetime-local"],
input[type="week"],
input[type="number"],
input[type="search"],
input[type="tel"],
select,
textarea,
trix-editor,
#card-element {
  background: $white;
  background-clip: padding-box;
  border: $input-border;
  border-radius: $border-radius;
  color: $text;
  display: block;
  width: 100%;
  font-size: 1rem;
  padding: $sm-pad $md-pad;
  line-height: 1.5;
  transition: border-color .15s ease-in-out, box-shadow .15s ease-in-out;
  font-family: $sans-serif;
  word-break: normal;
  &:not([readonly]):focus {
    background-color: $input-focus-background-color;
    border-color: $input-focus-border-color;
    outline: $input-focus-outline;
    box-shadow: $input-focus-shadow;
  }
  &[disabled] {
    background-color: $input-disabled-background-color;
    cursor: not-allowed;
    opacity: 1;
  }
  &[readonly] {
    background-color: $input-readonly-background-color;
  }
}

input[type="color"] {
  background: $white;
  border: $border;
  border-radius: $border-radius;
  display: inline-block;
  vertical-align: middle;
}

input[type="file"]:focus,
input[type="radio"]:focus,
input[type="checkbox"]:focus {
  outline: $input-outline;
}

input:focus:invalid,
textarea:focus:invalid,
select:focus:invalid {
  border-color: $input-invalid-border-color;
  color: $input-invalid-color;
}

input[type="file"]:focus:invalid:focus,
input[type="radio"]:focus:invalid:focus,
input[type="checkbox"]:focus:invalid:focus {
  outline-color: $input-focus-invalid-outline-color;
}

select {
  vertical-align: sub;
  &:not([size]):not([multiple]) {
    height: calc(2.25rem + 2px);
  }
  &[multiple] {
    height: auto;
  }
}

label {
  display: inline-block;
  line-height: $label-line-height;
  color: $label-color;
  font-size: $label-font-size;
}

fieldset {
  border: 0;
  margin: 0;
  padding: $sm-pad 0;
}

legend {
  color: $text;
  display: block;
  margin-bottom: $sm-pad;
  padding: $sm-pad 0;
  width: 100%;
}

textarea {
  overflow: auto;
  resize: vertical;
}

input[type="checkbox"],
input[type="radio"] {
  box-sizing: border-box;
  padding: 0;
  display: inline;
}
