//Basic stylings
$br: 4px !default;
$xs-pad: 4px !default;
$sm-pad: 8px !default;
$md-pad: 16px !default;
$lg-pad: 20px !default;
$xlg-pad: 40px !default;
$trans: 0.3s !default;

//Breakpoints
$small-breakpoint: 400px !default;
$large-breakpoint: 960px !default;

//Colors
$primary: #1b8080 !default;
$accent: #64ffda !default;
$red: #f44336 !default;
$yellow: #ffeb3b !default;
$gray: #f7f7f9 !default;
$dark: #565656 !default;
$white: #fff !default;
$black: #000 !default;
$blue: #007bff !default;

//Text
$text: #302e2b !default;
$secondary: #706d64 !default;
$disabled: #9d988d !default;
$divider: #ded8c7 !default;

//Links
$link-color: $blue !default;
$link-hover-color: darken($link-color, 15%) !default;

//Buttons
$button-background-color: $primary !default;
$button-border-radius: $br !default;
$button-color: $white !default;
$button-padding: $sm-pad $md-pad !default;
$button-border: 1px solid transparent !default;
$button-font-size: 1rem !default;
$button-transition: color .15s ease-in-out, background-color .15s ease-in-out, border-color .15s ease-in-out, box-shadow .15s ease-in-out !default;
$button-hover-color: darken($primary, 7.5%) !default;
$button-hover-border-color: darken($primary, 10%) !default;
$button-hover-color: $white !default;
$button-active-color: darken($primary, 10%) !default;
$button-active-border-color: darken($primary, 12.5%) !default;
$button-active-color: $white !default;
$button-focus-outline: 0 !default;
$button-focus-shadow: 0 0 0 0.2rem fade_out($primary, 0.5) !default;
$button-disabled-color: $primary !default;
$button-disabled-border-color: $primary !default;
$button-disabled-color: $white !default;

//Forms
$label-color: $dark !default;
$input-focus-background-color: #fff !default;
$input-focus-border-color: mix($primary, #fff) !default;
$input-focus-outline: 0 !default;
$input-focus-shadow: 0 0 0 0.2rem fade_out($primary, 0.75) !default;
$input-outline: 1px thin $divider !default;
$input-disabled-background-color: $divider !default;
$input-disabled-color: $secondary !default;
$input-readonly-border-color: $divider !default;
$input-readonly-color: $secondary !default;
$input-invalid-border-color: darken($red, 10) !default;
$input-invalid-color: $red !default;
$input-focus-invalid-outline-color: $red !default;

//Font
$sans-serif: -apple-system,BlinkMacSystemFont,"Segoe UI",Roboto,"Helvetica Neue",Arial,sans-serif,"Apple Color Emoji","Segoe UI Emoji","Segoe UI Symbol" !default;
$serif: Georgia, Times, 'Times New Roman', serif !default;
$monospace: Menlo, Monaco, Consolas, 'Courier New', monospace !default;
$font-family: $sans-serif !default;

//Typography
$font-size-base: 16px !default;
$font-size-small: ceil(($font-size-base * 0.85)) !default;
$font-size-h1: 40px !default;
$font-size-h2: 32px !default;
$font-size-h3: 28px !default;
$font-size-h4: 24px !default;
$font-size-h5: 20px !default;
$font-size-h6: 16px !default;
$line-height-base: 1.5 !default;

//Other
$border: 1px solid $divider !default;
